AWS_ACCESS_KEY_ID=AWS ACCESS KEY GOES HERE
AWS_SECRET_ACCESS_KEY=AWS SECRET KEY GOES HERE
CACHE_GADM=false
TERMINAL_API_ENDPOINT=http://localhost:3000
DJANGO_LOG_LEVEL=INFO
DOJO_URL=http://DOJO_URL.COM
REDIS_HOST=redis
ANNOTATION_S3_BUCKET=YOUR_S3_BUCKET
ANNOTATION_S3_PATH=dev/indicators
#DOJO_USERNAME=
#DOJO_PASSWORD=
