boto3==1.17.79
django>=2.1.3
django-redis==5.0.0
pandas==1.2.3
mixmasta==0.6.6
geotime_classify==0.8.1
xlrd >= 1.0.0
django-cors-headers==3.7.0
openpyxl==3.0.7
gunicorn==20.1.0
rq==1.10.0
django-rq==2.4.1
django-bootstrap-datepicker-plus==4.0.0