ANNOTATE_UI_URL=http://localhost:8001
ANNOTATE_URL=http://annotate.dojo:8000
ANNOTATION_S3_BUCKET=${ANNOTATION_S3_BUCKET}
AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
BIND_PORT=8000
DMC_BUCKET=${DMC_S3_BUCKET_NAME}
DMC_LOCAL_DIR=${DMC_LOCAL_DIR}
DMC_PASSWORD=dojo
DMC_PORT=8090
DMC_URL=${DMC_URL}
DMC_USER=dojo
DOCKER_URL=docker.dojo
DOCKER_PORT=2375
DOCKERHUB_URL=https://hub.docker.com/v2
DOCKERHUB_USER=${DOCKERHUB_USER}
DOCKERHUB_PWD=${DOCKERHUB_PWD}
DOCKERHUB_EMAIL=${DOCKERHUB_EMAIL}
DOCKERHUB_ORG=${DOCKERHUB_IMAGE_ORG}
DOJO_HOST=http://api.dojo
DOJO_URL=${DOJO_URL}
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_PORT=9200
MIXMASTA_VERSION=latest
REDIS_HOST=redis.dojo
REDIS_PORT=6379
TEMPLATER_S3_BUCKET=${TEMPLATER_S3_BUCKET}
TEMPLATER_URL=http://templater.dojo
TERMINAL_WORKERS=docker.dojo
TERMINAL_API_ENDPOINT=http://terminal_api.dojo:3000
UVICORN_RELOAD=True
