AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
BIND_PORT=8000
CAUSEMOS_DEBUG=true
CAUSEMOS_USER=worldmodelers
CAUSEMOS_PWD=${CAUSEMOS_PWD}
CAUSEMOS_IND_URL=https://causemos.uncharted.software/api/maas
CAUSEMOS_UI_URL=https://causemos.uncharted.software
CONFIG_STORAGE_BASE=file:///storage/configs/
DATASET_STORAGE_BASE_URL=file:///storage/datasets/
DMC_URL=airflow-webserver.dojo-stack
DMC_PORT=8080
DMC_URL=airflow-webserver.dojo
DMC_USER=dojo
DMC_PASSWORD=dojo
DMC_LOCAL_DIR=/data
DMC_BUCKET={DMC_BUCKET}
DOCKER_URL=docker.dojo
DOCKER_PORT=8375
DOCKERHUB_AUTH=${DOCKERHUB_AUTH}
DOCKERHUB_URL=https://hub.docker.com/v2
DOCKERHUB_USER=${DOCKERHUB_USER}
DOCKERHUB_PWD=${DOCKERHUB_PWD}
DOCKERHUB_EMAIL=${DOCKERHUB_EMAIL}
DOJO_HOST=http://api.dojo
DOJO_URL=http://api.dojo
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_PORT=9200
MIXMASTA_VERSION=latest
REDIS_HOST=redis.dojo
REDIS_PORT=6379
TERMINAL_ENDPOINT=http://terminal.dojo-stack:3000
TERMINAL_WORKERS=docker.dojo-stack
UVICORN_RELOAD=True
