


body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
    min-height: 99vh;
    min-width: 1200px;
}

.terminal-container {
    min-height: calc(100vh - 24px);
    margin: 12px auto;
    min-width: 800px;
}

.terminal {
    background-color: #272d33;
    height: 100%;
    color: #000;
}

.leaflet-container {
    width: 100%;
    height: 60vh;
}
