.background_fixture{
  width: 60%; 
  margin: auto; 
  margin-top: 2%;
  height: 30%;
  color: white;
  background-color: grey;
}
table thead th {
  text-align: center;
}
table {
  color: white;
  text-align: center;
  display: table:;
  margin-left: 5%;
  margin-top: 3%;
  overflow-x: scroll;
  table-layout: fixed;
}

p{color : black}