html {
  font-family: 'Roboto', sans-serif;
  display: block;
  word-wrap: break-word;
}

button {
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 5%;
}

table {
  table-layout: auto;
  vertical-align: middle;
  display: none;
  overflow-x:  scroll;
  height: 60%;
  max-width: 80%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 1%;
}

thead{
  text-align: center;
  margin: 0 auto;
}