<!doctype html>
<html lang="en">
	<head>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
		<!-- (Optional) Latest compiled and minified JavaScript translation files -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-am_ET.min.js"></script>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
		<title>Dojo Data Workflow</title>
		<style>
		select {
			-moz-appearance: none;
			background: rgba(0, 0, 0, 0) url("https://i.stack.imgur.com/tLwVk.png") no-repeat scroll 100% center / 20px 13px !important;
			border: 1px solid #ccc;
			overflow: hidden;
			padding: 6px 20px 6px 6px !important;
			width: auto;
		}
		button {
			margin-bottom: 10%;
		}
		</style>
		<meta name="description" content="Description Goes Here">
		<script>
			$(document).ready(function(e) {
			$('.selectpicker').selectpicker();
			});
			async function excelSheets(){
				document.getElementById("submit").disabled = true;
				var f = document.getElementById("myFile").files[0]
				let formData = new FormData();
				formData.append("file", f);
				fetch('/overview/proxy/sheets', {method: "POST", body: formData}).then(function(sheets) {
					return sheets.json()
					// here you can use the result of promiseB
					}).then(function(response) {
						var sheets = response['sheets']
						var el = "<label for='sheets_dropdown'> Sheets </label>"
						el += '<select name="excel_Sheet" class="form-control" id="sheets_dropdown">'
							var options = []
							for (var i = sheets.length - 1; i >= 0; i--) {
								var line = '<option value="'+ sheets[i] +'">' + sheets[i] + '</option>';
								el = el + line;
							}
						el = el + '</select>'
						document.getElementById("formExtension").innerHTML = el;
						document.getElementById("submit").disabled = false;
					});
				}
		</script>
		<style>
		* {font-family: "Roboto", "Helvetica", "Arial", sans-serif;}
		#formExtension{margin-bottom: 2%;}
		body {
			text-align: center;
			margin-top:5%;
		}
		h4 {
			text-align: left;
			margin-top:5%;
			color:rgb(107, 107, 107);
		}
		form {
			display: inline-block;
			text-align: left;
			}
		button {
			margin-top: 2%;
		}
		</style>
		<script type="text/javascript">
			function up(){
				window.location.replace('/upload')
			}
			function fileDetect() {
				var file = document.getElementById("myFile");
				var geotiffExtension = `
				<div id='Geotiff_form'>
					<div class="form-group">
						<label for='geotiff_Feature_Name'>Feature name:</label>
						<input class="form-control"
						type="text"
						name="geotiff_Feature_Name" id='Feature_name'
						/>
					</div>
					<br/>
					<div class="form-group">
						<label for='geotiff_Null_Val'>Null data value:</label>
						<input class="form-control"
						type="text"
						name="geotiff_Null_Val" id='geotiff_Null_Val' value = -9999
						/>
					</div>
					<br/>
					<div class="form-group">
						<label for='geotiff_Date'>Date (optional):</label>
						<input class="form-control"
						type="text"
						name="geotiff_Date" id='geotiff_Date'
						/>
					</div>
				</div>`
				var xlsxExtension = `
				<div class="form-group">
					<label for='excel_Sheet'>Sheet</label>
					<div id="sheets">
					</div>
				</div>`
				if (file.value.toLowerCase().endsWith('.tiff') || file.value.toLowerCase().endsWith('.tif')){
					document.getElementById("formExtension").innerHTML = geotiffExtension;
				}
				else if (file.value.toLowerCase().endsWith('.xls') || file.value.toLowerCase().endsWith('.xlsx')){
					excelSheets();
				}
				else {document.getElementById("formExtension").innerHTML = "";}
			// Inside find search element where the name should display (by Id Or Class)
		}
		</script>
	</head>
	<body>
		<h1>Load Data</h1>
		<form id = 'meta' method='post' style='width:32%; margin-top:2%;' enctype="multipart/form-data">

		<div class="form-group">
			<label for='previous_indicator_id'>Previous indicator ID</label>
			<input class="form-control" type="text" name="previous_indicator_id" id="previous_indicator_id"/>
		</div>

        <div class="form-group">
            <label for="myFile">File</label>
            <input class="form-control" type="file" id="myFile" name="filename" onchange="fileDetect()" required>
        </div>
        <div class='form-group' id='formExtension'>
        </div>

        <div class="text-center">
            <button class='btn btn-primary' id="submit" type="submit" form="meta" value="Submit">Submit</button>
        </div>
        </form>
    </body>
</html>