<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>iFrame Test</title>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="/static/styles.css?c={{config.static_last_update}}">

    </head>
    <body>

        <div class="container" style="padding: 20px 0;">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="path">
                            Path
                            <small class="text-muted">The identifier for this content &mdash; either the path to the config file or the directory where the directive command is being run (<code>cwd</code>).</small>
                        </label>
                        <input type="text" class="form-control" id="path" value="/path/to/settings.ini">
                    </div>
                    <div class="form-group">
                        <label for="contents">
                            Editor Content
                            <small class="text-muted">The actual content to be edited in templater.</small>
                        </label>
                        <textarea class="md-textarea form-control" rows="3" id="editor">
addr: 1234 Main Street
children = 123
distance: 26.2
name= kim jones\n
ip=mac:address:pieces
unicode: 🏰
date: 2021-04-06
str:  "contents"
<xml>
    <node>text</node>
</xml>

/path/to/python3 foo.py -x -d 2021-04-09
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <strong>Message from templater iFrame:</strong><br>
                    <div id="msg"></div>
                </div>
                <div class="col">
                    <strong>Editor Mode:</strong>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="mode" id="directive" value="directive">
                        <label class="form-check-label" for="directive">
                            Directive
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="mode" id="config" value="config" checked>
                        <label class="form-check-label" for="config">
                            Config
                        </label>
                    </div>
                    <br>
                    <small class="text-muted">Changing this will reload the iframe</small>
                </div>
                <div class="col text-right">
                    <button id="open-btn" class="btn btn-primary">open in editor</button>
                    <button id="save-btn" class="btn btn-secondary">trigger save in editor</button>
                </div>
            </div>
        </div>

        <iframe
            src="/?model=maxhop-v0.2&mode=config"
            id="iframe"
            width="100%"
            height="400px"
            style="border:2px solid red"
        ></iframe>

        <script type="text/javascript">
            document.getElementById("save-btn").onclick = function(){
                var event = {"type":"save_clicked"}
                document.getElementById("iframe").contentWindow.postMessage(JSON.stringify(event), '*');
                document.getElementById("msg").textContent = "";
            }
            document.getElementById("open-btn").onclick = function(){
                var event = {
                    "type":"file_opened",
                    "editor_content": document.getElementById("editor").value,
                    // "content_id": document.getElementById("path").value,
                    "cwd": document.getElementById("path").value,
                }
                document.getElementById("iframe").contentWindow.postMessage(JSON.stringify(event), '*');
                document.getElementById("msg").textContent = "";
            }

            document.getElementById("directive").addEventListener("change", function() {
                document.getElementById("iframe").src = "/?model=maxhop-v0.2&mode=directive"
            });

            document.getElementById("config").addEventListener("change", function() {
                document.getElementById("iframe").src = "/?model=maxhop-v0.2&mode=config"
            });

            window.onmessage = function(e){
                post_message_data = JSON.parse(e.data)
                document.getElementById("msg").textContent = post_message_data.type
            };
        </script>

    </body>
</html>
